/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~antd/dist/antd.dark.css';

#root {
  min-height: 100vh;
}

html {
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  background: transparent !important;
}
